@font-face {
  font-family: NeueHaasDisplayBold;
  src: url("@/assets/fonts/NeueHaasDisplayBold.woff") format("woff");
}
@font-face {
  font-family: NeueHaasDisplay;
  src: url("@/assets/fonts/NeueHaasDisplayRoman.woff") format("woff");
}
@font-face {
  font-family: NeueHaasDisplayLight;
  src: url("@/assets/fonts/NeueHaasDisplayLight.woff") format("woff");
}
@font-face {
  font-family: NeueHaasDisplayMedium;
  src: url("@/assets/fonts/NeueHaasDisplayMedium.woff") format("woff");
}

:root {
  font-family: NeueHaasDisplay, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue: #0008c1;
  --red: #ff1700;
  --dark-red: #cd0404;
  --green: #82cd47;
  --yellow: #ffe61b;
  --dark-yellow: #fed049;
  --darker-yellow: #ffb200;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1::selection,
h2::selection,
h3::selection,
p::selection {
  background: #fada9d90;
}

h1 {
  font-family: NeueHaasDisplayBold, Inter, sans-serif;
  font-weight: 800;
  color: black;
  line-height: 1.6;
  font-size: 8rem;
  margin: 0;
  z-index: 10;
  position: relative;
}

h2 {
  font-family: NeueHaasDisplayMedium, Inter, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 4rem;
  margin: 0;
  line-height: 1;
  z-index: 10;
  position: relative;
}

h3 {
  font-family: NeueHaasDisplay, Inter, sans-serif;
  font-weight: 300;
  color: black;
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
  z-index: 10;
  position: relative;
}

p {
  font-family: NeueHaasDisplay, Inter, sans-serif;
  font-weight: 200;
  color: white;
  font-size: 1.6rem;
  margin: 0;
  line-height: 1.3;
  z-index: 10;
  position: relative;
  word-spacing: 0.5rem;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 595px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1660px) {
  h1 {
    font-size: 10rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

@media (min-width: 1980px) {
  h1 {
    font-size: 14rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 5.5rem;
  }

  h3 {
    font-size: 4rem;
  }

  p {
    font-size: 2.5rem;
  }
}
